* {
}

body {
}

.multimedia {
	padding: 10px;
	margin: 10px;
}

.movie {
	background-color: lightblue;
}

.series {
	background-color: lightpink;
}

.game {
	background-color: lightgreen;
}

.liked {
	font-weight: bold;
	color: red;
}